<launch>
   <master auto="start"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find project_rrt)/config/my_map.yaml"/>
  
  <node pkg="tf" type="static_transform_publisher" name="base_link_map" args="0 0 0 0 0 0 base_link map 100" />
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find project_rrt)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find project_rrt)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find project_rrt)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find project_rrt)/config/global_costmap_params.yaml" command="load" />
    <rosparam> 
      controller_frequency: 3.0
    </rosparam>
  </node>


  <!-- Turtlebot Driver node -->
  <node pkg="project_rrt" type="node.py" name="driver" output="screen"/>
</launch>
